<div class="alert alert-warning" role="alert" ng-show="cart.items.length === 0 && !cart.checkoutSuccess">
    Su carrito está vacío.
</div>

<div class="table-responsive col-lg-12" ng-show="cart.items.length > 0 && !cart.checkoutSuccess">

    <table class="table table-striped ngCart cart">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Cantidad</th>
            <th>Monto</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="cart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Impuesto ({{ cart.getTaxRate() }}%):</td>
            <td>${{ cart.getTax() }}</td>
        </tr>
        <tr ng-show="cart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Envío:</td>
            <td>${{ cart.getShipping() }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>${{ cart.getTotal() }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in cart.items track by $index">
            <td><span ng-click="cart.removeItemById(item.id, cart.items, item)" class="glyphicon glyphicon-remove"></span></td>
            <td><a ui-sref="app.lc.product({productId:item.id})">{{ item.title }}</a></td>
            <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.quantity==1}" ng-click="cart.setQuantity(item, -1)"></span>&nbsp;&nbsp;
                {{ item.quantity | number }}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus" ng-class="{'disabled':item.quantity==item.stock}" ng-click="cart.setQuantity(item, 1)"></span></td>
            <td>${{ item.price }}</td>
            <td>${{ cart.getItemTotal(item.quantity, item.price) }}</td>
        </tr>
        </tbody>
    </table>

    <div class="pull-right" style="clear:both;margin-bottom:10px;">
        <button class="btn btn-cart btn-lg" ng-click="cart.checkout(cart.items)" ng-disabled="cart.loading || !cart.user || cart.error">Finalizar compra <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
</div>

<div style="clear:both;margin-top:10px;">
    <div ng-show="cart.checkoutSuccess">
        <div class="alert alert-info" role="alert">
            ¡Gracias por su compra! Uno de nuestros representantes se comunicará en breve con usted.
        </div>

        <div>
            <button class="btn btn-cart btn-lg pull-left" ng-click="cart.returnToHome()"><span class="glyphicon glyphicon-chevron-left"></span> Seguir comprando</button>
        </div>
    </div>

    <div class="alert alert-warning" role="alert" ng-show="cart.user && cart.items.length && !cart.error && !cart.checkoutSuccess">
        Stock sujeto a modificaciones.
    </div>

    <div ng-show="cart.user && cart.error && cart.items.length">
        <div class="alert alert-danger" role="alert">
            Debes completar todos tus datos. <span><a ui-sref="app.lc.user">Click aquí</a></div>
        </div>
    </div>

    <div ng-show="!cart.user && cart.items.length">
        <div class="alert alert-danger" role="alert">
            Para finalizar la compra es necesario ser un usuario registrado. <span><a ui-sref="app.lc.auth.register">Click aquí</a></div>
        </div>
    </div>

    <!--<div ng-show="cart.guns && cart.gunsError">
        <div class="alert alert-info" role="alert">
            Para agilizar la compra de armas de fuego, le sugerimos completar los datos. <span><a ui-sref="app.lc.user">Click aquí</a></div>
        </div>
    </div>-->
</div>

<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .glyphicon.disabled {
        color:#aaa;
    }
</style>