<div class="row">
	<div class="col-xs-12">
		<div class="upload-area" data-animation="am-fade-and-slide-top" data-placement="center" data-template-url="scripts/modules/user/views/modal-photo.html" data-container="body" bs-modal="modal">
			<div>
				<img ng-src="{{photoUploader.photoUrl || '/images/user.jpg'}}">
			</div>
			<div class="overlay">
				<span><i class="fa fa-camera"></i> Subir foto</span>
			</div>
		</div>
	</div>
</div>