<div class="col-sm-12 main-content">
  <div class="login">
    <div ng-show="!login.forgot">
      <h2 class="page-heading">Entrar</h2>
        <div>
          <form role="form" name="form" class="form-horizontal" novalidate>
            <!--<div ng-show="login.error">
              <div class="alert alert-danger" role="alert">
                {{login.error}}
              </div>
            </div>-->
            <div class="form-group">
              <label for="email" class="control-label col-sm-4">Dirección de Email</label>
              <div class="col-sm-4">
                <input type="email" name="email" class="form-control" ng-model="login.optin.email" required>
              </div>
            </div> 

            <div class="form-group">
              <label for="password" class="login control-label col-sm-4">Contraseña</label>
              <div class="col-sm-4">
                <input type="password" name="password" class="form-control" ng-model="login.optin.password" required>
              </div>
            </div>

            <!--<div class="form-group">
              <div class="forgot-password">
                <div class="col-sm-4 col-sm-offset-4">
                  <a ng-click="login.toggleFotgonPass();">¿Olvidó su contraseña?</a>
                </div>
              </div>
            </div>-->
     
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-4">
                <!--<button class="btn btn-lg btn-primary" type="submit" ng-click="login.sendCredentials(login.optin)" ng-disabled="form.$invalid">Entrar</button>-->
                  <button class="btn btn-lg btn-primary" type="submit" ng-click="login.login(login.optin)" ng-disabled="form.$invalid || login.loading"><span ng-show="!login.loading">Entrar </span><span ng-show="login.loading">Accediendo <i class="fa fa-spinner fa-spin"></i></span></button>
                  <span class="note">ó <a ui-sref="app.lc.auth.register">Registrarse</a></span>
              </div>
            </div>
          </form>
        </div>
    </div>

    <div ng-show="login.forgot">
      <h2 class="page-heading">Recuperar contraseña</h2>
      <p>Le enviaremos un correo electrónico para restablecer su contraseña.</p>
      <form role="form" name="formPassword" class="form-horizontal" ng-submit="login.resetCredentials(emailPassword)" novalidate>
        <div class="form-group">
          <label for="email" class="large col-sm-4">Email</label>
          <div class="col-sm-4">
            <input class="form-control" type="email" name="email" ng-model="emailPassword" required>
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <button class="btn btn-lg btn-primary" type="submit" ng-disabled="formPassword.$invalid">Recuperar contraseña</button>
                <span class="note">ó <a ng-click="login.toggleFotgonPass();">Cancelar</a></span>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>