<div class="col-sm-12 main-content">
  <div class="login">
    <div ng-show="!login.forgot">
      <h2 class="page-heading">Registrarse</h2>
        <div>
          <form role="form" name="form" class="form-horizontal" novalidate>
            <!--<div ng-show="register.error">
              <div class="alert alert-danger" role="alert">
                {{register.error}}
              </div>
            </div>
            <div ng-show="register.signUpSuccess">
              <div class="alert alert-success" role="alert">
                {{register.signUpSuccess}}
              </div>
            </div>-->
            <div class="form-group">
              <label for="email" class="control-label col-sm-4">Dirección de Email</label>
              <div class="col-sm-4">
                <input type="email" name="email" class="form-control" ng-model="register.optin.email" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-4">
                <button class="btn btn-lg btn-primary" ng-click="register.optinUser(register.optin)" type="submit" ng-disabled="form.$invalid || register.loading"><span ng-show="!register.loading">Registrarse </span><span ng-show="register.loading">Registrarse <i class="fa fa-spinner fa-spin"></i></span></button>
                  <span class="note">ó <a ui-sref="app.lc.auth.login">Acceder</a></span>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
