@import url("../ceibo_components/ceibo.functions.less");
//*Variables*//
@primaryColor: #f44336;
@primaryDarkColor: #212121;
@primaryTextColor: #fff;
@primaryTextDarkColor: #2c2c2c;

/*body, html{
  margin: 0;
  padding: 0;
}*/

html, body {
	width: 100%;
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	color: @primaryTextDarkColor;
}

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none !important;
	vertical-align: top;
	background: transparent;
	font-weight: normal;
	line-height: 1.5em;
}

.h-full{
	height: 100%;
}

p {
	margin: 5px 0;
	padding: 0;
}

b, strong{
	font-weight: bold;
}

.color{
	color: @primaryColor;
}

a.color{
	font-size: 13px;
	text-decoration: none;

	&:hover{
		cursor: pointer;
		text-decoration: underline;
	}
}

label {font-weight: bold;font-size: 12px;}

select,
select.form-control,
textarea,
textarea.form-control,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="telephone"] {
	padding: 6px;
	border:1px solid #f2f2f2;
	font: normal 13px 'Arial';
	color: darken(#bcbcbc, 15%);;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
border-radius: 0;
//box-shadow: none;
}

select,
select.form-control {padding: 8px 3px; outline: none;}

textarea,
textarea.form-control {min-width: 100%;max-width: 100%;min-height: 100px;}

.form-control:focus {border-color: #aaa;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ddd;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ddd;
}

button{
	i.fa{
		margin-top: 3px;
	}
}

.m-t-100{
	margin-top: 100px;

	@media (max-width: 767px){
		margin-top: 128px;
	}
}

.pagination {

  > li {
    > a,
    > span {
		color: @primaryColor;
    }
  }
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: @primaryColor;
  border-color: @primaryColor;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: @primaryColor;
}

.form-group {vertical-align: top;margin-top: 15px;margin-bottom: 0;}

.form-horizontal {}
.form-horizontal label {padding-top: 0 !important;text-align: right;line-height: 34px;}
.form-horizontal select {width: 100%;}

input.ng-invalid,textarea.ng-invalid{
	color: red;
	//border: 1px solid red!important;
}

.switch {
	.toggle(@primaryColor);
}

.ceibo-checkbox{
	.checkbox(@primaryColor);
}

.userForm{

	.formly-field {
	  margin-bottom: 16px;
	}

	.formly.row, .formly.row .formly-field {
	  margin-bottom: 0;
	}

	.formly-field-group ng-form {
	  margin: 0;
	}
}

/* messages fanciness */
.my-messages {
  position: relative;
}

.my-messages, .some-message {
  .opacity(1);
  .transition(.3s linear all);
}

.some-message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
}

.my-messages.ng-enter.ng-enter-active,
.some-message.ng-enter.ng-enter-active {
  .opacity(1);
  top: 0;
}

.my-messages.ng-enter,
.some-message.ng-enter {
  .opacity(0);
  top: -10px;
}

.my-messages.ng-leave,
.some-message.ng-leave {
  .opacity(1);
  top: 0;
}

.my-messages.ng-leave-active,
.some-message.ng-leave-active {
  .opacity(0);
  top: -10px;
}

ul{
	list-style-type: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;

	a{
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: 400;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;

		&:hover{
			color: #262626;
			text-decoration: none;
			background-color: #f5f5f5;
		}
	}
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #666;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn, .btn a, .btn-info, .btn-primary {
	border: none ;
	border-radius: 0 ;
	box-shadow: none ;
	display: inline-block;
	cursor: pointer;
	background: darken(#cbcbcb, 15%);
	color: #ffffff;
	text-transform: uppercase;
	.transition(all .4s ease);
	&.btn-lg{
		padding: 8px 12px;
		//line-height: 19px;
		font-size: 12px;
	}
}

.btn a {
	padding: 0 !important;
	border: none !important;
}

.btn-cart, .btn-red, .btn-fav {
	background: @primaryColor;

	.glyphicon{
		top: 2px;
	}
}

.fav-group{
	display: inline-table;

	.btn-fav{
		&:hover{
			background: @primaryColor;
		}
		&:focus{
			color: #fff;
		}
	}

	i.fa{
		margin-top: 2px;
	}

	.fav-text{
		color: @primaryTextDarkColor;
		font-size: 12px;
		border: 1px solid @primaryColor;
		background: none;
		&:hover{
			background: @primaryColor;
		}
	}

	&.overlay{
		position: absolute;
		display: block;
		top: 5px;
		right: 5px;
		z-index: 1;
		.opacity(.9);
	}
}

.btn:hover,.btn:hover a,.btn-info:hover,.btn-primary:hover {
	background: @primaryTextDarkColor;
  	color: #fff;
  	border-color: none !important;
}

.btn.btn-cart {
 	//margin-left: 10px;

 	@media (max-width: 992px){
 	//	margin-left: 0;
 	}
}
.btn:focus {
    //color: #ffffff !important;
}

.form-cart{
	display: inline-table;
}

/*.header{
	.header-top{
		margin: 20px 0;
		line-height: 60px;
		padding: 0;

		h3{
			margin: 0;
			vertical-align: middle;
			line-height: 60px;
			font-size: 30px;
			color: @primaryTextDarkColor;
			font-weight: 300;

			@media (max-width: 767px){
				font-size: 20px;
			}
		}

		.phone{
			float: left;
			//margin-right: 25px;
			i{
				font-size: 40px;
				color: @primaryColor;
				vertical-align: -5px;
				margin-right: 17px;

				@media (max-width: 767px){
					font-size: 30px;
				}
			}
		}
	}
	.navbar {
		ul.navbar-nav, ul.nav-cart{
			>li{
				>a{
					font-family: 'Open Sans', sans-serif;
					//display: inline-block;
					z-index: 1;
					position: relative;
					font-size: 12px;
					font-weight: 600;
					text-decoration: none;
					line-height: 20px;
					text-transform: uppercase;
					 padding: 22px 39px;
				}

				a.categories::after{
					  position: absolute;
					  content: "";
					  left: 50%;
					  margin-left: -2px;
					  right: 0;
					  bottom: 8px;
					  -moz-transition: top 0.3s ease-out;
					  -o-transition: top 0.3s ease-out;
					  -webkit-transition: top 0.3s ease-out;
					  border: 4px solid;
					  border-color: #ffffff transparent transparent transparent;
					  width: 0;
					  height: 0;

					  @media (max-width: 767px){
					  	position: relative;
					  	bottom: -8px;
					  	left: 0;
					  	margin-left: 10px;
					  }
				}
			}
		}

		.dropdown-menu{
			> li {
				> a{
					padding: 7px 20px;
				}
			}
		}
		.search{
			.form-group{
				margin-top: 0;
			}

			.caret{
				margin-left: 10px;
			}
			input{
				.border-radius(4px);
				color: @primaryTextDarkColor;
			}
			.btn{
				border: 1px solid transparent;
			}

			.dropdown-toggle{
				text-transform: none;
			}
			.search-btn{
				.btn{
					-webkit-border-top-right-radius: 4px;
					-webkit-border-bottom-right-radius: 4px;
					-moz-border-radius-topright: 4px;
					-moz-border-radius-bottomright: 4px;
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
					background-color: darken(#cbcbcb, 10%);
				}
			}

			.category-btn{
				.btn{
					-webkit-border-top-left-radius: 4px;
					-webkit-border-bottom-left-radius: 4px;
					-moz-border-radius-topleft: 4px;
					-moz-border-radius-bottomleft: 4px;
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;
					background-color: darken(#cbcbcb, 10%);
				}
			}
		}

		.nav-cart {
			margin: 0 15px 0 0;
			li{
				&.active{
					background-color: #080808;

					a{
						color: #fff;
					}
				}
			}
			a{
				display: block;
				//background-color: darken(#f5f5f5, 5%);
				color: #9d9d9d;
				text-decoration: none;
				font-size: 12px;
				line-height: 50px;
				//padding: 0 15px 0 0;
				padding: 7px 15px 7px 0;
				text-transform: uppercase;
				transition: all .4s ease;

				&:hover{
					color: #fff;
				}

				i{
					line-height: 50px;
					vertical-align: top;
					//background-color: @primaryColor;
					width: 50px;
					text-align: center;
					color: #ffffff;
					//margin: 0px 20px 0px 0px;
					font-size: 25px;
				}

				.cart-total-items {
					margin-right: 4px;
				}

				span{
					vertical-align: baseline;
				}

				//&:hover{background-color: @primaryColor;}
			}
		}
	}
}*/


header{
	&#header{
		margin-bottom: 50px;
		border-top: 3px solid @primaryColor;
  		padding-top: 47px;
	}

	&#header.navbar{
		.border-radius(0);
	}

	.topMain {
		border-bottom: 1px solid #E4E4E4;
		margin-bottom: 15px;

		&>.container {
			position: relative;
		}

		.topInfo {
			position: absolute;
			right: 15px;
			top: 30px;
			font-size: 14px;
			color: #666;

			a{
				color: #595757;
			}

			.phone{
				float: left;
				//margin-right: 25px;
				i{
					font-size: 35px;
					color: @primaryColor;
					vertical-align: -5px;
					margin-right: 17px;

					@media (max-width: 993px){
						display: none;
					}
				}

				h3{
					@media (max-width: 993px){
						font-size: 16px;
  						text-align: right;
					}
				}

				@media (max-width: 993px){
					position: absolute;
					right: -8px;
					bottom: -35px;
					width: 150px;
				}
			}

			@media (max-width: 767px){
				top: -35px;
			}
		}

		.navbar-collapse.collapse{
			position: relative;

			ul.nav.navbar-nav {
				position: absolute;
			    bottom: 0;
			    left: 210px;

			    @media (max-width: 767px){
					position: relative;
					left: 0;
				}
			}
		}

		.navbar-header{
			margin-left: -15px;

			.navbar-toggle {
				margin: 0;
				height: 35px;
				line-height: 35px;
				padding: 0 0 0 10px;

				&::before{
				color: #003A4A;
				content: "\f0c9";
				font-family: "FontAwesome";
				font-size: 22px;
				font-style: normal;
				font-weight: normal;
				.transition(color 0.25s linear);
				}
			}

			a{
				color: @primaryColor;
				text-decoration: none;
				.transition(0.25s);

				.logo{
					width: 200px;
					height: 100px;
					line-height: 40px;
					display: inline-block;
					background: url(../images/logo.jpg) no-repeat 0 0;
					text-indent: -9999px;
				}
			}
		}

		#main-nav{
			.navbar-nav{
				//margin: 0;
				&> li{
					&>a{
						font-size: 16px;
						line-height: 49px;
						padding: 0 21px;
						margin-right: 10px;
						//border-radius: 4px 4px 0 0;
						background-color: #fff;
						//color: @primaryColor;
						color: #595757;
						border-bottom: 2px solid transparent;
						.transition( all .2s ease);

						&:hover{
							border-bottom: 2px solid @primaryColor;
							.transition( all .2s ease);
						}
					}

					&.active{
						&>a{
							border-bottom: 2px solid @primaryColor;
						}
					}
				}
			}
		}
	}

	.mobile-use-icon, header #nav-fixed.navbar-fixed-top .mobile-use-icon{
		margin-left: 10px;

			a{
				color: #999;
				font-size: 16px;
				padding-left: 5px;
					&:hover{
						color: darken(#999, 40%)
					}
				}

				.cartIcon .badge {
					min-width: auto;
					font-size: 10px;
					vertical-align: middle;
					background-color: @primaryColor;
				}
			}

	#nav-fixed{
		background: #fff;
		min-height: 50px;

		.menuBar{
			.transition(all ease-out);
			&> ul{
				&> li{
					font-size: 16px;
					color: @primaryTextDarkColor;
					background: darken(#f5f5f5, 5%);
					position: relative;
					&> a{
						display: block;
						height: 34px;
						line-height: 34px;
						//color: #B3B3B3;
						color: #666;
						padding-left: 17px;

						@media (max-width: 767px){
							margin-top: 10px;
						}

						.caret {
							position: absolute;
							top: 16px;
							right: 15px;
						}

						&:hover{
							text-decoration: none;
						}
					}

					@media (max-width: 767px){
						margin: 0 15px;
					}
				}
			}
		}

		form.seachForm{

			select{
				height: 34px;
				background: darken(#f5f5f5, 5%);
				color: #666;
			}

			.btn{
				border: 1px solid transparent;
			}
		}

		#head-nav{
			&> ul{
				&> li{
					&> a{
						padding: 5px 10px;
						line-height: 34px;
						height: 34px;
						color: @primaryTextDarkColor;
					}
				}
			}
		}

		.cart{
			a{
				display: block;
				background-color: darken(#f5f5f5, 5%);
				color: #2c2c2c;
				text-decoration: none;
				font-size: 12px;
				line-height: 34px;
				padding: 0 10px 0 0;
				cursor: pointer;
				text-transform: uppercase;
				.transition(all .4s ease);

				i{
				  line-height: 34px;
				  vertical-align: top;
				  background-color: #e74c3c;
				  width: 40px;
				  text-align: center;
				  color: #fff;
				  margin: 0 10px 0 0;
				  font-size: 25px;
				}

				b{
					vertical-align: baseline;
  					margin-right: 5px;
					text-transform: none;
				}

				span{
					vertical-align: baseline;
				}

				&:hover{
					background-color: @primaryColor;
					color: @primaryTextColor;
				}
			}
		}

		&.navbar-fixed-top{
			box-shadow: 0 2px 5px #CCC;
			min-height: 30px;
			padding: 5px 0;

			#head-nav{
				&> ul{
					&> li{
						&> a{
							//padding: 5px 10px;
							line-height: 30px;
							height: 30px;
						}
					}
				}
			}

			.menuBar>ul>li>a{
				height: 30px;
				line-height: 30px;

				.caret{
					top: 13px;
				}
			}

			select{
				padding: 5px 3px;
				height: 30px!important;
				-webkit-border-top-left-radius: 3px;
				-webkit-border-bottom-left-radius: 3px;
				-moz-border-radius-topleft: 3px;
				-moz-border-radius-bottomleft: 3px;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}

			.cart{
				a{
					line-height: 30px;
					i{
						line-height: 30px;
					}
				}
			}
		}
	}
}

.home-slider{
	margin: 0 50px 0 0;
}

.carousel{
	margin: -50px 0 30px 0;

	img{
		width: 100%;
  		height: 100%;
	}

	.carousel-caption{
		background: fade(@primaryDarkColor, 50%);
		z-index: 0;
	}

	.carousel-control span{
		cursor: pointer;
	}

	&.slide{
		@media (min-width: 993px){
			.item{
				max-height: 1200px;
			}

			img.floatUp {
				margin-top: -700px;
				position: relative;
				-webkit-animation: floatBubble 10s infinite  normal ease-out;
			    animation: floatBubble 10s infinite  normal ease-out;
			}
		}

		@media (min-width: 767px) and (max-width: 993px){
			.item{
				max-height: 500px;
			}

			img.floatUp {
				margin-top: -250px;
				position: relative;
				-webkit-animation: floatBubbleMedium 10s infinite  normal linear;
			    animation: floatBubbleMedium 10s infinite  normal linear;
			}
		}
		// 	img.floatUp {
		// 		margin-top: -100px;
		// 		position: relative;
		// 		-webkit-animation: floatBubble 10s infinite  normal ease-out;
		// 	    animation: floatBubble 10s infinite  normal ease-out;
		// 	}
		// }
	}
}

.page-heading{
	margin: 0;
	padding: 0 0 8px 0;
	border-bottom: 2px solid darken(#f5f5f5, 5%);
	font-size: 28px;
	color: #2c2c2c;
	text-transform: uppercase;
}

.main-container{

	.list{
		margin-top: 30px;
		overflow: hidden;

		.product{
			margin-bottom: 30px;

			@media (max-width: 767px){
				margin: 35px 0 0;
			}

			.product-img{
				//background: darken(#f5f5f5, 5%);
				position: relative;
				margin-bottom: 25px;
				text-align: center;

				button{
					position: absolute;
					top: 5px;
					right: 5px;

				}
				a{
					display: block;
					//padding: 20px 64px;
					max-height: 175px;
					line-height: 175px;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						vertical-align: middle;
						//height: auto;
						.transition(all .4s ease);
					}
					@media (max-width: 443px){
						margin-bottom: 10px;
					}

					/*@media (max-width: 992px){
  						//padding: 20px 14px;
  						height: 144px;
  					}*/
				}

				@media (max-width: 767px){
					width: 200px;
					//height: 144px;
  					float: left;
  					margin: 0 15px 0 0;
				}

				@media (max-width: 443px){
	  				width: 100%;
					height: 100%;
				}

				&:hover {
					img{
						transform: scale(1.15,1.15) rotate(.1deg);
					    -o-transform: scale(1.15,1.15) rotate(.1deg);
					    -moz-transform: scale(1.15,1.15) rotate(.1deg);
					    -webkit-transform: scale(1.15,1.15) rotate(.1deg);
				    }
				}
			}
		}
	}
}
.column-highlighted .quantity {
  margin-left: 0!important;
}

//*PRODUCT*//
.product-info{

	.product-name{
		text-transform: uppercase;
		color: #3e454c;
		font-size: 14px;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;

		@media (max-width: 767px){
			width: 40%;
		}

		@media (max-width: 443px){
			width: 100%;
		}
		a{
			color: #3e454c;

			&:hover{
				color: @primaryColor;
				text-decoration: none;
			}
		}
	}

	.product-price{
		margin-bottom: 8px;
		font-size: 25px;
		color: @primaryColor;

		.money{
			color: @primaryColor;
		}
	}

	.product-desc{
		p{
			font-size: 12px;
		  	color: darken(#bcbcbc, 15%);;
			height: 54px;
			overflow: hidden;

			@media (max-width: 767px){
				height: auto;
			}
	  	}
	}

	.product-links{
		clear: both;
		//margin-top: 18px;

		/*@media (max-width: 443px){
		  margin-top: 30px;
		}*/
		.btn{
			margin-top: 18px;
			float: left;
		}
	}

	.purchase{
		label {
			display: inline-block;
			color: darken(#bcbcbc, 15%);;
			margin: 0;
			padding: 0 !important;
			line-height: 32px;
			float: left;
		}

		.quantity{
			width: 50px;
			vertical-align: middle;
			margin-top: 0;
		}

		.add-to-cart{
			width: auto;
			height: 37px;
			padding: 9px 15px 9px 15px;

			i{
				vertical-align: middle;
				margin: 0 5px 0 0;
				font-size: 15px;
				position: relative;
				top: -2px;
			}
		}
	}

	.quantity{
			float: left;
			width: 45px;
			height: 32px;
			//display: inline-block;
			margin: 18px 10px 0 10px;
			padding: 0;
			outline: none;
			text-align: center;
			vertical-align: bottom;
		}


	.product-description{
		margin: 15px 0;
		padding: 10px 0 15px 0;
		color: inherit;
		border: 1px solid #f2f2f2;
		border-width: 1px 0;
		h4{
			padding-bottom: 0;
			border: none;
			text-transform: none;
			font-size: 14px;
		}

		p{
			font-size: 12px;
		  	color: darken(#bcbcbc, 15%);;
	  	}
	}
}

.main-content{
	margin-top: 10px;
}

.widget-related-products{
	margin-top: 25px;
  	margin-bottom: 30px;

	h3{
		padding: 0 0 5px 0;
  		border-bottom: 1px solid #2c2c2c;
  		font-size: 15px;
  		//color: #2c2c2c;
  		text-transform: uppercase;
	}
	.product-img {
	  //background: darken(#f5f5f5, 5%);
	  position: relative;
	  margin-bottom: 20px;
	  text-align: center;

	  @media (max-width: 767px){
		width: 200px;
		//height: 144px;
		float: left;
		margin: 0 15px 0 0;
	  }

	  @media (max-width: 443px){
	  	width: 100%;
		height: 100%;
	  }

		a{
			display: block;
			//height: 124px;
			max-height: 175px;
			line-height: 175px;
			//padding: 20px 64px;
			overflow: hidden;

			@media (max-width: 992px){
				//padding: 20px 14px;
				//height: 113px;
			}
			@media (max-width: 443px){
				margin-bottom: 10px;
			}
		}
		img{
			width: 100%;
  			height: 100%;
  			vertical-align: middle;
  			//height: auto;
  			.transition(all .4s ease);
		}

		&:hover {
				img{
				transform: scale(1.15,1.15) rotate(.1deg);
				-o-transform: scale(1.15,1.15) rotate(.1deg);
				-moz-transform: scale(1.15,1.15) rotate(.1deg);
				-webkit-transform: scale(1.15,1.15) rotate(.1deg);
			}
		}
	}

	ul{
		li{
			overflow: hidden;
			margin-bottom: 20px;
		}
	}
}


.product-image-container{
	overflow: hidden;
  	border: 1px solid #f2f2f2;
  	@media (max-width: 767px){
  		margin-bottom: 20px;
  	}

  	img{
  		  max-width: 100%;
		  display: block;
		  margin: 0 auto;
		  cursor: pointer;
  	}
  	img.not-available {
  		cursor: default;
  	}
}

/* USER PROFILE PAGE */
.card {
	padding: 40px;
	background-color: rgba(214, 224, 226, 0.2);
	&.hovercard {
		position: relative;
		padding-top: 0;
		overflow: hidden;
		text-align: center;
		background-color: #fff;
		background-color: rgba(255, 255, 255, 1);

		.card-background{
			height: 130px;

			img{
				-webkit-filter: blur(25px);
				-moz-filter: blur(25px);
				-o-filter: blur(25px);
				-ms-filter: blur(25px);
				filter: blur(25px);
				//filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
				//filter: blur(25px) gray;
				//-webkit-filter: blur(25px) grayscale(100%);*/
				margin-left: -100px;
				margin-top: -500px;
				min-width: 130%;

				@media (max-width: 767px){
					min-width: 350%;
				}
			}
		}

		.useravatar {
			position: absolute;
			top: 15px;
			left: 0;
			right: 0;

			img{
				width: 100px;
				height: 100px;
				max-width: 100px;
				max-height: 100px;
				.border-radius(50%);
				border: 5px solid rgba(255, 255, 255, 0.5);
				cursor: pointer;
			}
		}

		.card-info {
			position: absolute;
			bottom: 15px;
			left: 0;
			right: 0;
			overflow: hidden;
			font-size: 12px;
			text-overflow: ellipsis;

			.card-title {
				padding: 10px;
				font-size: 18px;
				color: #fff;
				background-color: rgba(0,0,0,.2);
			}
		}

		.bottom {
			padding: 0 20px;
			margin-bottom: 17px;
		}
	}
}

.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
.tab-user{
	margin-top: 25px;
}

.profile-group{
	.btn{
		border-bottom: 2px solid grey;

		.glyphicon{
			top: 2px;
		}
	}
	.active{
		.btn{
			background: none;
			color: @primaryTextDarkColor;
			border-bottom: 2px solid @primaryColor;
		}
	}
}

.upload-area{
	position: relative;
	display: inline-block;
	overflow: hidden;
	.thumbnail{
		position: relative;
		width: 160px;
		height: 160px;
		line-height: 160px;
		overflow: hidden;
		display: inline-block;
		margin-bottom: 5px;
		vertical-align: middle;
		text-align: center;
	}

	.overlay{
		width: 100%;
		height: 100%;
		display: block;
		background: transparent;
		position: absolute;
		top: 0;
		color: @primaryDarkColor;
		text-align: center;
		line-height: 100%;
		.transition(all .5s);
		.border-radius(50%);
		cursor: pointer;
	}

	span{
	    top: 0;
	    position: absolute;
	    left: 0;
	    line-height: 100px;
	    color: transparent;
	    width: 100%;
	    height: 100%;
	    -webkit-transition: all .5s ease;
	    -moz-transition: all .5s ease;
	    -o-transition: all .5s ease;
	    transition: all .5s ease;

	    i{
	    	display: inline;
	    	line-height: 100px;
	    }
	}
	&:hover{
		.overlay{
			background: rgba(0,0,0,.45);
		}

		span{
			color: #fff;
		}
	}
}

//**CONTACT**//

.location{
	margin: 25px 0;
	i{
		color: darken(#bcbcbc, 15%);;
		vertical-align: middle;
		font-size: 20px;
		margin-right: 5px;
	}

	strong{
		font-weight: bold;
	}
}

//*LOGIN*//
.login{
	color: darken(#bcbcbc, 15%);;

	a,span{
		vertical-align: baseline;
	}

	a {
		font-size: 13px;
		color: @primaryColor;
		text-decoration: none;
		cursor: pointer;
	}

	.note{
		margin-left: 5px;

		a{
			margin-left: 5px;
		}
	}
}

//*PERFECT SCROLLBAR*//
.scroller {
	display: inline-block;
	white-space: pre-line;
	height: 250px;
	width: 100%;
	overflow-y: hidden;
	position: relative;
}

//*FOOTER*//
.footer{
	background: @primaryTextDarkColor;
	color: darken(#bcbcbc, 15%);;
	margin-top: 30px;

	.copyright{
		padding: 30px 0;
	}

	.brand-photo{
		width: 100px;
		-webkit-filter: grayscale(100%);
		opacity: 0.3;
		cursor: pointer;
		padding: 0px 10px;
		.transition(0.5s ease);
	}

	.brand-photo:hover {
		-webkit-filter: grayscale(10%) !important;
		.opacity(0.8);
	}

	a{
		color: @primaryColor;
		text-decoration: none;
	}
}

//*ANIMATIONS*//
.ng-animate .bg-auto:before {
  display: none;
}
[ui-view].ng-leave {
  display: none;
}
[ui-view].ng-leave.smooth {
  display: block;
}
.smooth.ng-animate {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fade-in-right-big.ng-enter {
  -webkit-animation: fadeInRightBig 0.5s;
  animation: fadeInRightBig 0.5s;
}
.fade-in-right-big.ng-leave {
  -webkit-animation: fadeOutLeftBig 0.5s;
  animation: fadeOutLeftBig 0.5s;
}
.fade-in-left-big.ng-enter {
  -webkit-animation: fadeInLeftBig 0.5s;
  animation: fadeInLeftBig 0.5s;
}
.fade-in-left-big.ng-leave {
  -webkit-animation: fadeOutRightBig 0.5s;
  animation: fadeOutRightBig 0.5s;
}
.fade-in-up-big.ng-enter {
  -webkit-animation: fadeInUpBig 0.5s;
  animation: fadeInUpBig 0.5s;
}
.fade-in-up-big.ng-leave {
  -webkit-animation: fadeOutUpBig 0.5s;
  animation: fadeOutUpBig 0.5s;
}
.fade-in-down-big.ng-enter {
  -webkit-animation: fadeInDownBig 0.5s;
  animation: fadeInDownBig 0.5s;
}
.fade-in-down-big.ng-leave {
  -webkit-animation: fadeOutDownBig 0.5s;
  animation: fadeOutDownBig 0.5s;
}
.fade-in.ng-enter {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
.fade-in.ng-leave {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}
.fade-in-right.ng-enter {
  -webkit-animation: fadeInRight 0.5s;
  animation: fadeInRight 0.5s;
}
.fade-in-right.ng-leave {
  -webkit-animation: fadeOutLeft 0.5s;
  animation: fadeOutLeft 0.5s;
}
.fade-in-left.ng-enter {
  -webkit-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s;
}
.fade-in-left.ng-leave {
  -webkit-animation: fadeOutRight 0.5s;
  animation: fadeOutRight 0.5s;
}
.fade-in-up.ng-enter {
  -webkit-animation: fadeInUp 0.5s;
  animation: fadeInUp 0.5s;
}
.fade-in-up.ng-leave {
  -webkit-animation: fadeOutUp 0.5s;
  animation: fadeOutUp 0.5s;
}
.fade-in-down.ng-enter {
  -webkit-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s;
}
.fade-in-down.ng-leave {
  -webkit-animation: fadeOutDown 0.5s;
  animation: fadeOutDown 0.5s;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 650px !important;
}
.product-dialog {
	width: 600px;
}