<lc-slider 
	class="home-slider"
	products="home.slider">
</lc-slider>

<lc-products 
	products="home.productsHighlighted" 
	top-title="Destacados"
	user="home.user" 
	services="home.services">
</lc-products>