<div class="hidden-xs" ng-show="images.imagesUrl.length">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
      <li data-target="#carousel" ng-repeat="n in [] | range:images.imagesUrl.length" data-slide-to="{{$index}}" ng-class="{active: $first}"></li>
    </ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item" ng-repeat="slider in images.imagesUrl" ng-class="{active: $first}">
        <a>
          <img class="floatUp" ng-src="{{slider}}">
        </a>
      </div>
    </div>

    <!-- Controls
    <a class="left carousel-control" data-target="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" data-target="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a> -->
  </div>
</div>

<script type="text/javascript">

var $ = jQuery.noConflict();

$(document).ready(function() {
 $('#carousel').carousel({
       interval: 8500,
          cycle: true
 });
});

</script>