<div class="footer">
	<div class="container">
		<p class="copyright">
            <span ng-if="footer.brands.length">
                <span ng-repeat="brand in footer.brands">
                    <img
                        class="brand-photo"
                        ng-src="{{ brand.photoUrl }}"
                        ui-sref="app.lc.brand({brandName:brand.title, brandId:brand.$id})"
                    >
                </span>
                <br><br>
            </span>
            © 2015 Las Coloradas. All Rights Reserved. E-commerce by <a href="http://www.ceiboit.com/#/" target="_blank">ceiboIT</a>.
        </p>
	</div>
</div>
