<header id="header" class="navbar">
  <div class="topMain">
    <div class="container">
      <div class="row">
        <div class="topInfo">
          <span class="pull-right visible-xs mobile-use-icon">
            <a ui-sref="app.lc.user" ng-if="user.uid"><span class="glyphicon glyphicon-user"></span></a>
            <a ui-sref="app.lc.auth.login" ng-if="!user.uid"><span class="glyphicon glyphicon-user"></span></a>
            <a ng-click="nav.logOut()" style="cursor:pointer" ng-if="user.uid"><span class="glyphicon glyphicon-log-out"></span></a>
            <a ui-sref="app.lc.cart" class="cartIcon"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge shoping-num">{{nav.getItems()}}</span></a>
          </span>
          <span class="pull-right">
            <div class="phone hidden-xs hidden-sm">
              <h3><i class="fa fa-phone"></i>0810 2229873</h3>
            </div>
          </span>
        </div>
        <div class="navbar-header">
          <div class="col-md-2">
            <div>
              <button data-target="#main-nav" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a ui-sref="app.lc.home" title="Las coloradas"><span class="logo">Las Coloradas</span></a>
            </div>
          </div>
        </div>
        <div class="navbar-collapse collapse" id="main-nav">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="app.lc.home">Inicio</a></li>
            <li ui-sref-active="active"><a ui-sref="app.lc.about">Quienes somos</a></li>
            <li ui-sref-active="active"><a ui-sref="app.lc.contact">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.topMain -->

  <div scroll id="nav-fixed" class="topHead" ng-class="{'navbar-fixed-top':boolChangeClass}">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 hidden-xs"><div class="row">
          <div class="menuBar unmenuBar">
            <ul>
              <li class="dropdown">
                <a role="button" data-toggle="dropdown" data-target="#" class="categories">
                  Productos
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li ng-repeat="categorie in categories track by $index" ng-class="{'dropdown-submenu': categorie.subcategories.length}">
                      <a ui-sref="app.lc.categorie({categorieName:categorie.title, categorieId:categorie.$id})">{{categorie.title}}</a>
                      <ul class="dropdown-menu">
                      <li ng-repeat="subcategory in categorie.subcategories track by $index">
                        <subcategories-displayer id="subcategory" cat-id="categorie.$id" cat-name="categorie.title" service="nav.subcategoriesService" subcategory-key="'title'" service-as-promise="true"></subcategories-displayer>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <form scroll name="seachForm" role="form" class="input-group seachForm" ng-class="{'input-group-sm':boolChangeClass, 'input-group-md':!boolChangeClass}" ng-submit="nav.search(title, selectedCategorie)" novalidate>
          <!--<div class="input-group-btn search-panel">
            <select ng-model="selectedCategorie" ng-options="categorie.title for categorie in categories" />

            </div> -->
            <input type="text" class="form-control" ng-model="title" placeholder="Buscar..." autocomplete="off" required>
            <span class="input-group-btn"><button class="btn btn-red" type="submit" ng-disabled="seachForm.$invalid"> <span class="glyphicon glyphicon-search" style="top: 3px;"></span></button></span>
          </form>
        </div>
      </div>
      <div scroll class="col-md-2 visible-xs" ng-class="{'col-xs-6':boolChangeClass}"><div class="row">
        <div class="menuBar">
          <ul>
            <li class="dropdown">
                <a role="button" data-toggle="dropdown" data-target="#" class="categories">
                  Productos
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li ng-repeat="categorie in categories track by $index" ng-class="{'dropdown-submenu': categorie.subcategories.length}">
                      <a ui-sref="app.lc.categorie({categorieName:categorie.title, categorieId:categorie.$id})">{{categorie.title}}</a>
                      <ul class="dropdown-menu">
                      <li ng-repeat="subcategory in categorie.subcategories track by $index">
                        <subcategories-displayer id="subcategory" cat-id="categorie.$id" cat-name="categorie.title" service="nav.subcategoriesService" subcategory-key="'title'" service-as-promise="true"></subcategories-displayer>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div scroll class="col-xs-6 visible-xs pull-right mobile-use-icon" ng-show="boolChangeClass" style="margin: 15px 0 0 0;">
      <div class="row">
        <a ui-sref="app.lc.user" ng-if="user.uid"><span class="glyphicon glyphicon-user"></span></a>
        <a ui-sref="app.lc.auth.login" ng-if="!user.uid"><span class="glyphicon glyphicon-user"></span></a>
        <a ng-click="nav.logOut()" ng-if="user.uid" style="cursor:pointer"><span class="glyphicon glyphicon-log-out"></span></a>
        <a ui-sref="app.lc.cart" class="cartIcon"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge shoping-num">{{nav.getItems()}}</span></a>
      </div>
    </div>
    <div class="col-md-4 hidden-xs">
      <div class="row">
        <div class="pull-right" id="head-nav">
          <ul class="nav navbar-nav">
            <li class="account" ng-if="user.uid">
              <a ui-sref="app.lc.user">
                <span class="">{{user.username}}</span>
              </a>
            </li>
            <li class="account" ng-if="user.uid">
              <a ng-click="nav.logOut()" style="cursor:pointer">
                <span class="">Salir</span>
              </a>
            </li>
            <li class="account" ng-if="!user.uid">
              <a ui-sref="app.lc.auth.login">
                <span class="">Mi cuenta</span>
              </a>
            </li>
            <li class="cart">
              <div class="header-cart"><a ui-sref="app.lc.cart"><i class="fa fa-shopping-cart"></i><span class="cart-total-items"><span class="count">{{nav.getItems()}}&nbsp;</span></span><span>item(s)</span></a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</header>