
  <div class="col-sm-12 main-container text-left column-highlighted">
    <h2 class="page-heading" style="font-size:20px;">Destacados</h2>
    <div class="">
      <div class="list">
        <div class="product clearfix col-sm-12" ng-repeat="product in products" ng-show="products.length">
          <div class="product-img">  
            <a ui-sref="app.lc.product({productId:product.$id})">
              <img ng-src="{{product.photoUrl || '/images/cover.jpg'}}" alt="{{ product.title }}">
            </a>
          </div>
          <div class="product-info">
            <div class="product-name">
              <a ui-sref="app.lc.product({productId:product.$id})">{{ product.title }}</a>
            </div>
            <div class="product-price">
              <span class="money">$ {{ product.price }}</span>
            </div>
            <div class="product-links">
              <ngcart-addtocart id="{{product.$id}}" name="{{ product.title }}" price="{{ product.price }}" quantity="1" quantity-max="{{product.stock}}" data="product"></ngcart-addtocart>
            </div>
          </div>
        </div>
        <div class="product clearfix col-sm-12" ng-show="!products.length">
          No se encontraron resultados.
        </div>
      </div><!-- /.list -->
    </div><!-- /. -->
  </div><!-- /.main-container -->
