<div class="row">
  <div class="col-sm-12 main-container">
    <h2 class="page-heading">{{topTitle}}</h2>
    <div class="row">
      <div class="list">
        <div class="product clearfix col-sm-3" dir-paginate="product in products | itemsPerPage: itemsPerPage" ng-show="products.length">
          <div class="product-img">
            <add-to-favorite id="product.$id" user="user" service="services.userService" service-as-promise="true" overlay="true"></add-to-favorite>
            <a ui-sref="app.lc.product({productId:product.$id})">
              <img ng-src="{{product.photoUrl || '/images/cover.jpg'}}" alt="{{ product.title }}">
            </a>
          </div>
          <div class="product-info">
            <div class="product-price">
              <span class="money">$ {{ product.price }}</span>
            </div>
            <div class="product-name">
              <a ui-sref="app.lc.product({productId:product.$id})">{{ product.title }}</a>
            </div>
            <div class="product-desc"><p>{{ product.description | limitTo: 110 }}{{ product.description.length > 110 ? '...' : '' }}</p></div>

            <div class="product-links">
              <a class="btn btn-lg" ui-sref="app.lc.product({productId:product.$id})">Ver</a>
              <a ng-if="product.stock <= 0 || product.price == 0" ui-sref="app.lc.contact2({productId:product.$id})" class="btn btn-lg">Consultar</a>
              <ngcart-addtocart ng-if="product.stock > 0 && product.price > 0" id="{{product.$id}}" name="{{ product.title }}" price="{{ product.price }}" quantity="1" quantity-max="{{product.stock}}" data="product"></ngcart-addtocart>
            </div>
          </div>
        </div>
        <div class="product clearfix col-sm-3" ng-show="!products.length">
          No se encontraron resultados.
        </div>
      </div><!-- /.list -->
    </div><!-- /.row -->
  </div><!-- /.main-container -->
</div><!-- /.row -->

<div class="col-md-12 text-center">
  <dir-pagination-controls max-size="5" boundary-links="true" on-page-change="" template-url="template/dirPagination.tpl.html"></dir-pagination-controls>
</div>
