<div class="row">
	<div class="product-wrap">
		<div class="product-image-container col-sm-5">
			<div class="row">
				<div class="img" >
					<a ng-click="popupImageFunction(product)">
						<img ng-src="{{product.photoUrl || '/images/cover.jpg'}}" 
							 alt="{{product.title}}"
							 ng-class="{'not-available': !product.photoUrl}">
					</a>
				</div>
			</div>
		</div><!-- /.product-image-container -->

		<div class="product-info col-sm-7">
			<div class="product-name">{{product.title}}</div>
				<div class="options clearfix">
					<div id="product-price">
						<p class="price product-price">
							<span class="money">$ {{product.price}}</span>
						</p>
					</div>
					<div class="purchase">
						<span ng-if="product.stock > 0 && product.price > 0">
							<label for="quantity">Cantidad: </label>
							<ngcart-addtocart id="{{product.$id}}" name="{{product.title}}" price="{{product.price}}" quantity="1" quantity-max="{{product.stock}}" data="product"></ngcart-addtocart>
						</span>
						<a ng-if="product.stock <= 0 || product.price == 0" ui-sref="app.lc.contact2({productId:product.$id})" class="btn btn-lg">Consultar</a>
						<add-to-favorite id="product.$id" user="user" service="services.userService" service-as-promise="true"></add-to-favorite>
					</div>
				</div>
				<!-- /.options -->
				<!--<div class="product-details">

				</div>-->
				<div class="product-description">
					<h4>Descripción:</h4>
					<p>{{product.description}}</p>
				</div>
				<div class="alert alert-warning" role="alert" style="margin: 0">
					Stock sujeto a modificaciones.
				</div>
		</div><!-- /.col-sm-7 -->
	</div>
</div>
