<div class="widget-related-products row">
    <h3>Relacionados</h3>

    <div class="widget-content">
        <ul class="row" style="margin-top: 30px;">
            <li ng-repeat="product in products" class="product col-sm-3" ng-class='{firstItem:$first, lastItem:$last}' ng-show="products.length">
                <div>
                    <div class="product-img">
                        <a ui-sref="app.lc.product({productId:product.$id})"><img ng-src="{{product.photoUrl || '/images/cover.jpg'}}" alt="{{ product.title }}"></a>
                    </div>
                    <div class="product-info">
                        <div class="product-name"><a ui-sref="app.lc.product({productId:product.$id})">{{ product.title }}</a></div>
                        <div class="product-price"><span class="money">$ {{ product.price }}</span></div>
                    </div>
                </div>
            </li>

            <div class="col-sm-12" ng-show="!products.length">
                No hay productos relacionados.
            </div>
        </ul>
    </div>
</div>