<div class="" ng-show="products.length">
  <div id="carousel" class="carousel slide " data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel" ng-repeat="n in [] | range:products.length" data-slide-to="{{$index}}" ng-class="{active: $first}"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item" ng-repeat="slider in products" ng-class="{active: $first}" style="max-height: 500px;">
        <a ui-sref="app.lc.product({productId:slider.$id})" alt="{{ slider.title }}">
          <img ng-src="{{slider.photoSliderUrl}}">
          <div class="carousel-caption hidden-xs">
              <h3>{{ slider.title }}</h3>
              <p>{{ slider.description | limitTo: 300 }}{{ slider.description.length > 300 ? '...' : '' }}</p>
          </div>
        </a>
      </div>
    </div>

    <!-- Controls -->
      <a class="left carousel-control" data-target="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" data-target="#carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
  </div>
</div>