<map center="-34.906479,-57.952829" zoom="16">
  <info-window id="bar" position="-34.906479,-57.952829" visible="true">
    <div ng-non-bindable>
      <div id="siteNotice">Armeria Las Coloradas de Jose Natoli</div>
    </div>
  </info-window>
</map>

<div class="location">
	<i class="fa fa-map-marker"></i>
	<strong>Calle 43 433</strong> La Plata Buenos Aires‎
</div>

<div class="alert alert-info" role="alert">
  Si tiene alguna sugerencia o consulta, complete el siguente formulario y responderemos a la brevedad.
</div>

<form ng-submit="contact.submit(contact.model)" name="form" novalidate class="row" style="margin-top:-30px;">
  <div class="contactFormWrapper">
    <formly-form model="contact.model" fields="contact.fields" form="contact.form">
      <div class="btn-toolbar col-xs-12">
        <button type="submit" class="btn btn-primary" ng-click="contact.submit(contact.model)" ng-disabled="form.$invalid || contact.loading"><span ng-hide="contact.loading">Enviar</span><span ng-show="contact.loading"><i class="fa fa-spinner fa-spin"></i> Enviando... </span></button>
        <button type="reset" class="btn btn-primary">Borrar</button>
      </div>
    </formly-form>
  </div><!-- contactFormWrapper -->
</form>

</form>