<div class="product">
	<div class="main-content col-sm-9">
		<lc-product product="product.item" user="product.user" services="product.services" popup-image-function="product.popupImage"></lc-product>
		<lc-related products="product.related"></lc-related>
	</div><!-- /.main-content -->

	<div class="column-right column col-sm-3 hidden-xs">
		<div class="row text-center">
			<lc-highlighted products="product.highlighted"></lc-highlighted>
		</div>
	</div><!-- /.column-right -->
</div>
