<div class="btn-group fav-group" ng-class="{'overlay' : ctrl.overlay}" role="group">
	<button type="button" class="btn btn-fav btn-lg" ng-class="{'active' : ctrl.inFavorite}" ng-disabled="!ctrl.user.uid" data-title="{{ctrl.title}}" data-container="body" data-animation="none" bs-tooltip bs-enabled="!ctrl.titleInline" ng-click="ctrl.setToFavorite(ctrl.inFavorite)">
		<span ng-class="{'glyphicon glyphicon-heart-empty': !ctrl.inFavorite, 'glyphicon glyphicon-heart': ctrl.inFavorite}" ng-if="!ctrl.loading"></span>
		<sapn ng-if="ctrl.loading"><i class="fa fa-spinner fa-spin"></i></span>
	</button>
	<button type="button" class="btn fav-text" ng-if="ctrl.titleInline" ng-disabled="!ctrl.user.uid">
		<span>{{ctrl.title}}</span>
	</button>
</div>