<div class="col-md-12">
	<div class="row">
		<div class="card hovercard">
			<div class="card-background">
				<img class="card-bkimg" alt="" ng-src="{{user.userData.photoUrl || 'http://placehold.it/150x150'}}">
			</div>
			<div class="useravatar">
				<user-photo user-id="user.uid" photo-id="user.userData.photoId" photo-url="user.userData.photoUrl"></user-photo>
			</div>
			<div class="card-info"> <span class="card-title">
				<span>{{user.userData.username}}</span>
	        </div>
	    </div>
	    <ul class="profile-group btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
	        <li class="btn-group active" role="group">
	            <button type="button" class="btn btn-primary" data-target="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	                <div class="hidden-xs">Perfil</div>
	            </button>
	        </li>
	        <li class="btn-group" role="group">
	            <button type="button" class="btn btn-default" data-target="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
	                <div class="hidden-xs">Favoritos</div>
	            </button>
	        </li>
	        <li class="btn-group" role="group">
	            <button type="button" class="btn btn-default" data-target="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
	                <div class="hidden-xs">Configuración</div>
	            </button>
	        </li>
	    </ul>

	    <div class="">
	      <div class="tab-content tab-user">
	        <div class="tab-pane fade active in" id="tab1">
				<h3>Datos de usuario</h3>
				<form ng-submit="user.setInformation(user.model, main.user)" class="userForm" name="user.form" novalidate>
					<formly-form model="user.model" fields="user.fields" form="userForm">
					<div class="col-xs-12"><p><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <a href="http://servicioswww.anses.gov.ar/ConstanciadeCuil2/Inicio.aspx" target="_blank" class="color">Consultar CUIL</a></p></div>
						<br>
						<div class="col-xs-12" style="margin:10px 0 50px 0;">
							<button type="submit" class="btn btn-primary submit-button col-xs-12 col-md-2" ng-disabled="userForm.$invalid || user.loading"><span ng-show="!user.loading">Guardar cambios </span><span ng-show="user.loading">Guardando <i class="fa fa-spinner fa-spin"></i></span></button>
						</div>
					</formly-form>
				</form>
	        </div>
	        <div class="tab-pane fade" id="tab2">
				<lc-products 
					products="user.favorites"
					top-title="Favoritos"
					user="user.userData" 
					services="user.services"
					items-per-page="4">
				</lc-products>
	        </div>
	        <div class="tab-pane fade" id="tab3">
				<h3>Cambiar contraseña</h3>
				<form ng-submit="user.changePassword(user.credentials, user.userData)" class="userForm" name="user.form" novalidate >
					<formly-form model="user.credentials" fields="user.fieldsCredentials" form="formPassword">
						<br>
						<div class="col-xs-12" style="margin-bottom:50px;">
							<button type="submit" class="btn btn-primary submit-button col-xs-12 col-md-2" ng-disabled="formPassword.$invalid || user.loadingCredentials"><span ng-show="!user.loadingCredentials">Cambiar contraseña </span><span ng-show="user.loadingCredentials">Guardando <i class="fa fa-spinner fa-spin"></i></span></button>
						</div>
					</formly-form>
				</form>
	        </div>
	      </div>
	    </div>
	</div>
</div>

<!--<div class="form-group">
	<label class="control-label">
		<h3>Deseo comprar armas de fuego 
			<label class="switch" style="margin-left:10px;padding-top:9px;">
				<input type="checkbox" ng-model="user.guns.buyGuns"><i></i>
			</label>
		</h3>
	</label>	
</div>
<form ng-submit="user.setInformationGuns(user.guns, main.user)" class="userForm" name="user.form" novalidate ng-show="user.guns.buyGuns">
	<formly-form model="user.guns" fields="user.fieldsGuns" form="userFormGuns">
		<br>
		<div class="col-xs-12" style="margin-bottom:50px;">
			<button type="submit" class="btn btn-primary submit-button col-xs-12 col-md-2" ng-disabled="userFormGuns.$invalid || user.loadingGuns"><span ng-show="!user.loadingGuns">Guardar cambios </span><span ng-show="user.loadingGuns">Guardando <i class="fa fa-spinner fa-spin"></i></span></button>
		</div>
	</formly-form>
</form>-->