<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Actualizar foto de perfil</h4>
			</div>
			<div class="modal-body text-center">
				<img ng-src="{{photoUploader.photoUrl || '/images/user.jpg'}}" style="height: 150px;width: 150px;">
					<div ng-hide="photoUploader.progress > 0">
						<br>
						<button type="button" ngf-select ngf-change="photoUploader.upload(photoUploader.userId)" accept="photoUploader.validate($file)" ng-model="photoUploader.file" class="btn btn-sm btn-primary" ng-disabled="photoUploader.loading"><span ng-show="!photoUploader.photoUrl">Subir</span><span ng-show="photoUploader.photoUrl">cambiar</span></button>
						<button ng-show="photoUploader.photoUrl" type="button" ng-click="photoUploader.deleteFile(photoUploader.photoId, photoUploader.userId)" class="btn btn-sm btn-danger btn-red" ng-disabled="photoUploader.loading || photoUploader.deleting"><span ng-show="!photoUploader.deleting">Eliminar</span><span ng-show="photoUploader.deleting">Eliminando... <i class="fa fa-spinner fa-spin"></i></span></button>
					</div>

				<div class="progress" ng-show="photoUploader.progress > 0" style="margin-top:20px;">
					<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{photoUploader.progress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;" ng-style="{ 'width' : photoUploader.progress+'%' }">
			    		{{photoUploader.progress}}%
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-lg" ng-click="$hide()">Cerrar</button>
			</div>
		</div>
	</div>
</div>