<lc-about-slider images="about.images" style="margin: 0 50px 0 0;" ng-show="about.images.imagesUrl.length"></lc-about-slider>

<div style="margin-top: -30px;">
	<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="50">
		<div ng-bind-html="about.description"></div>
	</perfect-scrollbar>
</div>