<lc-header categories="main.categories" user="main.user" ></lc-header>
	<div scroll ng-class="{'m-t-100':boolChangeClass}" class="container">
		<div ui-view class="fade-in"></div>
	</div>
<lc-footer brands="main.brands"></lc-footer>