<form class="form-cart" name="form" role="form" novalidate>
    <input type="number" class="quantity" min="1" max="{{quantityMax}}" ng-model="q" class="form-control input-small">
    <button class="btn btn-cart btn-lg" ng-click="ngCart.addItem(id, name, price, q, data)" ng-disabled="form.$invalid">Añadir al carrito</button>
</form>

